<% include ./partials/header.ejs %>
<h1><%=campground._id%></h1>
<h1><%=campground.name%></h1>

<img src="<%=campground.image%>">
<div><%=campground.description%></div>

<a href="/campgrounds">Voltar à tela inicial</a>
<% include ./partials/footer.ejs %>